# Compiled nonsense that does not belong in *source* control
/build
/bin
/.gradle
/minecraft
/out
/run

# IDE nonsense that could go in source control but really shouldn't
.classpath
.project
.metadata
.settings
*.launch
*.iml
.idea
*.ipr
*.iws

# Sekrit files
private.properties

# Files from bad operating systems :^)
Thumbs.db
.DS_Store
src/main/resources/documentation/.Ulysses-favorites.plist
src/main/resources/documentation/en_us/abridged/.Ulysses-Group.plist
src/main/resources/documentation/en_us/global/.Ulysses-Group.plist
